#beer-hero {
    background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(21, 145, 10, 0.1) ), url(../images/brewhouse2-mobile.jpg);
    background-size: cover;
    background-position: top;
}

#beer-hero h2 {
    position: absolute;
    width: 45vw;
    right: 5%;
    top: 0%;
}

@media (min-width: 500px) {
    #beer-hero {
        background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(21, 145, 10, 0.1) ), url(../images/brewhouse2-tablet.jpg);
        background-size: cover;
        background-position: top;
    }
}

@media (min-width: 1000px) {
    #beer-hero {
        background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(21, 145, 10, 0.1) ), url(../images/brewhouse2.jpeg);
        background-size: cover;
        background-position: top;
    }
}

.villages {
    padding: 1em;
    background-color: var(--color3);
    color: var(--color2);
}

.villages-desc {
    display: flex;
    align-items: center;
}
.villages-desc picture {
    max-width: 300px;
}

.villages-desc img {
    border: 1px solid var(--color1);

}

.villages-desc p {
    margin: auto;
    padding: 0.5em;
}

.buy-beer {
    background-color: var(--color2);
    color: var(--color3);
}

.beer-images {
    display: flex;
    /* background-color: var(--color3); */
    justify-content: space-evenly;
    padding: 1em;
}

.beer-images picture {
    width: 50vw;
    border: 1px solid var(--color1);
    max-width: 360px;
}

.beer-images picture:first-of-type {
    border-right: none;
}

.get-beer {
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media(min-width: 500px) {
    .villages-desc p {
        font-size: 1.5rem;
        max-width: 50vw;
        text-align: center;
    }
    .get-beer p {
        font-size: 1.5rem;
    }
}