/* global */
:root   {
    --color1: #15890a;
    --color2: #ffffff;
    --color3: #000000;
    --desktopHeader: 100px;
    --headerHeight: 80px;
    --shortHeader: 60px;
    --beerDisplay: flex;
    --stockistsDisplay: flex;
    --ingredientsDisplay: flex;
    --menuDisplay: flex;
}

*   {
    box-sizing: border-box;
}

body    {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color: var(--color3);
}

h1 {
    font-size: 2.2rem;
}

h2 {
    font-size: 1.2em;
}

.cta {
    background-color: var(--color1);
    color: var(--color2);
    padding: 1em;
    border-radius: 3px;
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

picture {
    display: block;
}

input[type='email'] {
    border-radius: 0;
    border: 1px solid var(--color1);
}

input[type='submit'] {
    background-color: var(--color1);
    color: var(--color2);
    border: 1px solid var(--color1);
    border-radius: 0;
}

a {
    color: var(--color1);
}

@media (min-width: 500px) {
    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 1.75rem;
    }
}

@media (min-width: 1000px) {
    h1 {
        font-size: 4rem;
    }
    h2 {
        font-size: 2rem;
    }
    p {
        font-size: 1.2rem;
    }
    .cta {
        font-size: 1.5rem;;
    }
    h3 {
        font-size: 2.5rem;
    }
}

/* hero */

.hero {
    margin-top: var(--headerHeight);
    background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(21, 145, 10, 0.1) ), url(../images/footsteps-mobile.jpg);
    color: var(--color2);
    background-size: cover;
    background-position: center 40%;
    height: 40vh;
    position: relative;
}

.hero-text    {
    position: absolute;
    width: 45vw;
    right: 5%;
    top: 0%;
}

@media (min-width: 500px) {
    .hero {
        height: 40vw;
        background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(21, 145, 10, 0.1) ), url(../images/footsteps-tablet.jpg);
        background-size: cover;
        background-position: center 40%;
    }
}

@media (min-width: 1000px) {
    .hero {
        margin-top: var(--desktopHeader);
        background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(21, 145, 10, 0.1) ), url(../images/footsteps.jpg);
        background-size: cover;
        background-position: center 40%;
        height: 30vw;
    }
}

/* tiles */

.tile {
    background-color: var(--color2);
    color: var(--color3);
    border: 2px solid var(--color1);
    border-radius: 5px;
    margin: .25em;
    padding: .25em;
    display: flex;
}

.tile-text {
    width: 75%;
    margin: 0 auto;
}

.tile h3 {
    color: var(--color1);
    text-align: center;
    font-size: 1.5rem;
    margin: .5em 0;
}
.tile p {
    text-align: center;
    margin: 0;
}
