/* header */

header  {
    display: flex;
    height: var(--headerHeight);
    width: 100vw;
    background-color: var(--color2);
    position: fixed;
    top:0;
    z-index: 1;
    transition: 0.5s;
}

header.sticky {
    height: var(--shortHeader);
    transition: 0.5s;
}

picture.hamburger {
    max-width: 5vw;
    margin: 1em;
    display: var(--menuDisplay);
}

.title  {
    position: absolute;
    width: 60vw;
    left: 20vw;
    text-align: center;
    transition: 0.5s;
    margin: 0.5em 0;
}

.title.sticky {
    margin: .3em 0;
    transition: 0.5s;
}

header nav {
    display: none;
}

header ul {
    list-style: none;
    padding-inline-start: 0;
    display: flex;
}

header li {
    padding: 0.5em;
    font-size: 1.5rem;
}

header a {
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
}

@media (min-width: 1000px) {
    picture.hamburger {
        display: none;
    }
    .title {
        position: static;
        width: max-content;
        padding-left: 1em;
    }
    header {
        height: var(--desktopHeader);
    }
    header.sticky {
        height: var(--headerHeight)
    }
    header nav {
        display: var(--menuDisplay);
        margin-left: 3em;
    }
}
/* hamburger */

aside {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: var(--color2);
    top: 0;
    z-index: 2;
    left: -100vw;
    transition: 0.5s;
}

aside.show {
    left: 0;
    transition: 0.5s;
}

.close {
    max-width: 5vw;
    margin: 1em;
    right: 0;
    position: absolute;
}

aside ul {
    list-style: none;
    padding-inline-start: 0;
    position: absolute;
    top: var(--headerHeight);
}

aside a {
    text-decoration: none;
    color: inherit;
}

aside li {
    padding: 1em;
    width: 100vw;
    font-size: 2rem;
}

/* hiding nav items to pages that aren't ready */

a.ingredients {
    display: var(--ingredientsDisplay);
    border: 2px solid red;
}

a.beer {
    display: var(--beerDisplay);
}

a.stockists {
    display: var(--stockistsDisplay)
}

/* footer */

footer {
    display: flex;
    background-color: var(--color2);
    flex-direction: column;
    align-items: center;
}

footer h2 a {
    color: inherit;
    text-decoration: none;
}

footer h4 {
    margin: 0;
}

footer p {
    margin: 0;
}

.follow {
    padding: 0.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.follow .social-icons {
    display: flex;
    max-width: 50vw;
    justify-content: space-between;

}

.follow picture {
    margin: 1em;
    width: 50px;
}

footer .sign-up {
    padding: 0.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer form {
    padding: 1em;
}

@media (min-width: 1000px) {
    footer {
        flex-direction: row;
        justify-content: space-between;
        padding: 0 2em;
    }
    .follow {
        width: 30vw;
    }
    footer h2 {
        position: absolute;
        width: 30vw;
        left: 35vw;
        text-align: center; 
    }
}