#ingredients-hero {
    background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(21, 145, 10, 0.1) ), url(../images/beer-biscuits.jpg);
    background-size: cover;
    background-position: top;
}

#ingredients-hero h2 {
    position: absolute;
    width: 45vw;
    right: 5%;
    top: 0%;
}
/* ingredients section */

.ingredients {
    background-color: var(--color3);
    color: var(--color2);
    padding: 1em;
}

.added-ingredients {
    display: flex;
    flex-direction: column;
}

.two-ingredients {
    display: flex;
    flex-direction: column;
}

.added-ingredients .tile {
    height: 50%;
}

@media(min-width: 500px) {
    .added-ingredients {
        flex-direction: row;
        justify-content: space-evenly;
    }
    .added-ingredients .tile {
        width: 45vw;
    }
}

/* grain section */

.grain-section {
    background-color: var(--color2);
    color: var(--color3);
    padding: 1em;
}

.alcoholic {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.alcoholic h3 {
    align-self: flex-start;
}

.alcoholic p {
    margin-top: 0;
}

@media(min-width: 500px) {
    .alcoholic {
        flex-direction: row;
    }
    .alcoholic-text {
        width: 50vw;
    }

    .alcoholic .cta {
        margin: 0 auto;
    }
}

/* nutrition section */

.nutrition {
    background-color: var(--color3);
    color: var(--color2);
    padding: 1em;
}

@media(min-width: 1000px) {
    .benefits {
        display: flex;
        justify-content: space-evenly;
    }
    .two-benefits {
        width: 45vw;
    }
    .two-benefits .tile {
        height: 50%;
    }
    .benefits .tile-text {
        padding-bottom: 1px;
    }
}