#ingredients-hero {
    background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(21, 145, 10, 0.1) ), url(../images/beer-biscuits.jpg);
    background-size: cover;
    background-position: top;
}

#ingredients-hero h2 {
    position: absolute;
    width: 45vw;
    right: 5%;
    top: 0%;
}
/* ingredients section */

.ingredients {
    background-color: var(--color3);
    color: var(--color2);
    padding: 1em;
}

.added-ingredients {
    display: flex;
    flex-direction: column;
}

.tile {
    background-color: var(--color2);
    color: var(--color3);
    border: 2px solid var(--color1);
    border-radius: 5px;
    margin: .25em;
    padding: .25em;
    display: flex;
}

.tile-text {
    width: 75%;
}

.tile h4 {
    color: var(--color1);
    text-align: center;
    font-size: 1.5rem;
    margin: .5em 0;
}
.tile p {
    text-align: center;
    margin: 0;
}

/* grain section */

.grain-section {
    background-color: var(--color2);
    color: var(--color3);
    padding: 1em;
}

.alcoholic {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* nutrition section */

.nutrition {
    background-color: var(--color3);
    color: var(--color2);
    padding: 1em;
}