.stockists {
    margin-top: var(--headerHeight);
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(173, 65, 65, 0.2) ), url(../images/finger\ paw.jpg);
    color: var(--color2);
    background-size: cover;
    background-position: center 0%;
    height: 40vh;
    position: relative;
}

.stockists h2 {
    position: absolute;
    width: 30vw;
    right: 10%;
    top: 20%;
}